.image{
    position: center;
    max-width: 400px;
    text-align: center;
    
}
.caption{
    font-style: italic;
    text-align: center;
}

body{
    background-color: beige;
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

.link{
    text-align: left;
}

.bio{
    text-align: left;
}

.web-link{
    color:rgb(221, 25, 7);
}

.webeval{
    text-align: left;
    margin-left: 15%;
}


main, .maincontainer {
    width: 95%;
    margin: 0 auto;
    max-width: fit-content;
}


/* MOBILE RULES */
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
    html, body {
        color:#166b8d;
        background-color: beige;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family:sans-serif;
    }
    /* Foundational Three */
    main, .maincontainer {
        width: 95%;
        margin: 0 auto;
        max-width: 1400px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
    html, body {
        color:#166b8d;
        background-color: beige;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family:sans-serif;
    }
    /* Foundational Three */
    main, .maincontainer {
        width: 95%;
        margin: 0 auto;
        max-width: 980px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
    html, body {
        color:#166b8d;
        background-color: beige;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family:sans-serif;
    }
    /* Foundational Three */
    main, .maincontainer {
        width: 95%;
        margin: 0 auto;
        max-width: 600px;
    }
}

label, input{
    margin-bottom: 2%;
    color:#2e37bd;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: brown;
    color:rgb(240, 212, 176);
}

.table{
    text-align: left;
}

ol {
    padding-left: 75px;
    list-style-position: inside;
}
th {
    background-color: #b44658;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead tr {
    background-color: #b44658;
    color: white;
}
/* Alternating row colors */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
    background-color: #efd9e8;
}
/* Borders and padding */
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}