.image{
    position: center;
    max-width: 400px;
    text-align: center;
    
}
.caption{
    font-style: italic;
    text-align: center;
}

body{
    background-color: beige;
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

.link{
    text-align: left;
}

.bio{
    text-align: left;
}

.web-link{
    color:rgb(221, 25, 7);
}

.webeval{
    text-align: left;
    margin-left: 15%;
}

/* MOBILE RULES */
/* Remove Initial */
html, body {
    color:blue;
    background-color: beige;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
}
/* Foundational Three */
main, .maincontainer {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}