.image{
    position: center;
    max-width: 400px;
    text-align: center;
    
}
.caption{
    font-style: italic;
    text-align: center;
}

body{
    background-color: beige;
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}