<div class="footer-content">
    <div class="footer-section">
      <h3>Stores</h3>
      <ul>
        <li><a href="https://www.ebay.com/str/dadabeautystore" class="footer-link" target="_blank">eBay</a></li>
        <li><a href="https://www.etsy.com/shop/Louielouie789?ref=shop-header-name&listing_id=1248247590&from_page=listing" class="footer-link" target="_blank">Etsy</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: <a href="mailto:info@tlcclothing.com" class="footer-link">info@tlcclothing.com</a></p>
      <p>Phone: <a href="tel:+17049998765" class="footer-link">+1 (704) 999-8765</a></p>
    </div>

    <div class="footer-section">
      <h3>Legal</h3>
      <ul>
        <li><a href="#" class="footer-link">Our Pledge</a></li>
        <li><a href="#" class="footer-link">Terms &AMP; Conditions</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TLC Clothing. All rights reserved.</p>
  </div>