<div class = "footer-links">
    <a class="link" href = "https://webpages.charlotte.edu/ephann1/">CLT Web</a> 
    ||
    <a class="link" href = "https://github.com/ericaphann/">GitHub</a> 
    ||
    <a class="link" href = "https://ericaphann.github.io/">GitHub Page</a> 
    ||
    <a class="link" href = "https://ericaphann.github.io/itis3135">GitHub Course Page</a> 
    || 
    <a class="link" href = "https://www.freecodecamp.org/EricaPhann">FreeCodeCamp</a> 
    ||
    <a class="link" href = "https://www.codecademy.com/profiles/EricaPhann">Codecademy</a> 
    ||
    <a class="link" href = "https://www.linkedin.com/in/ericaphann">LinkedIn</a> 
</div>
<p class="footer-links">Designed by <a href="epicpenguindesigns.com/index.html">Erica Phann's Designs, </a><a href="https://www.freecodecamp.org/certification/EricaPhann/responsive-web-design"><i>Certified in Responsive Web Design</i></a> © 2025</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>

<script>
    document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>