<nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="epicpenguin/index.html">Whimsical Company</a>
    ||
    <a href="epicpenguindesigns.com/index.html">Design Page</a>
    ||
    <a href="stuff/WEIRD%20@FILE.htm">CRAPPY WEBSITE</a>
    ||
    <a href="website_evaluations.html">Website Evaluation</a>
    ||
    <a href="hobby/index.html">Hobby</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="forms.html">Contact</a>
</nav>